 header {
  text-align: center;
    color:white;
    font-size: 2.5em;
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    grid-area: header;
 
    
    
}

body {
    text-align:center;
    background: linear-gradient(90deg, #816C5B, #A9A18C, #816C5B);
    color: white;
   font-family: 'Poiret One', cursive;
   font-size:1.2em;
   
 
}

h1 {
    text-transform: uppercase;
    text-align:center;
   font-family: 'Poiret One', cursive;
   font-size: 3em;
  
}

h2 {
    font-size: 1em;
    color:#83929F;
    text-align:center;
   font-family: 'Poiret One', cursive;
}
h3 {
    font-size: 2em;
   font-family: 'Poiret One', cursive;
   
}

h4 {
    font-size: 10em;
    color:white;
    text-align:center;
   font-family: 'Poiret One', cursive;

}

.img-circle {
    max-height: 30%;
    max-width: 30%;
    border-radius:50%;
    float:left;
    padding:4%;
    padding:3%;

}

footer {
grid-area:footer;
font-family: 'Poiret One', cursive;
font-size:.9em;


    
}

a {
    color:white;
    text-decoration:none;
    font-family: 'Poiret One', sans;
    font-size:.9em;
}

a:hover {
    color:lightgray;
    text-decoration: underline;
 } 

 b{
     color: white;
     font-size: 3em;
     border: 3em;
     border-color: white;
     border-style: solid;
     padding: 1%;
     margin-left:1%;
     margin-right:1%;
   font-family: 'Pacifico', cursive;
    
 
}



    
    
 
    .wrapper {
      display: grid;
      
      grid: 
      "topnav topnav topnav"
              "main main main"
            "left middle right"
            "leftt middlee rightt"
            "footer footer footer";
        grid-column-gap: 1em;
          grid-row-gap: .5em;
         font-family: 'Poiret One', cursive;
        
   
   
}
article{
      text-align:center;
    font-size: 1em;
    background: linear-gradient(90deg, #816C5B, #A9A18C, #816C5B);
    color: white;
   font-family: 'Poiret One', cursive;
   grid-area: article;

}
   .grid {
      display: grid;
      grid-gap: 1em;
      grid: "header"
      "article"
      "aside"
"footer"
}
   header, aside, article, footer {
      grid-column: 1 / 4;
   }

  
   aside {
       
       font-size:1em;
       
   }

   header, article, aside, footer {
      background: #454647;
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
      padding:.5em;
      border-radius: 3em;
       line-height: 1.2em;
   }

   @media all and (min-width: 58em) { 
      article { grid-column: 2 / 3; }
      aside { grid-column: 1 / 2; }
      .content-flex-container { flex-direction: column; }
     header, article, aside, footer { margin:.8em; }
     aside { width: 15em; }

   }

.contactwrapper{
     display: grid;
      grid: 
      "one two three"
      "four five six";
          grid-column-gap: .2em;
          grid-row-gap: .2em;
         font-family: 'Poiret One', cursive;
         
         
}
.facebook {
    grid-area: one;
  
}
.twitter {
    grid-area: four;
  
    
}
.gmail {
    grid-area: two;
  

}
.instagram {
    grid-area: three;
  
    
}
.linkedin {
    grid-area: five;
 
    
}
.github{
    grid-area: six;

    
}

.socialmedia-logo {
    height:2em;
width:auto;  
}

@media all and (min-width: 58em) { 
    .content-flex-container { flex-direction: column; }
     header, article, aside, footer { margin:.8em; }
     header, article, aside, footer { grid-gap:2em; }
     header, article, aside, footer { padding:1em; }
       header, article, aside, footer { line-height:1.4em; }
          grid { grid: "header header header"
     "article article aside"
     "footer footer footer" }
     
     }
.topnav {
  overflow: hidden;
  text-decoration: none;
  font-size: 2em;
     align-items: center;
        color: lightgray;
        font-size: 2em;
        background-image:url("https://images.pexels.com/photos/673803/pexels-photo-673803.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
        background-attachment: inherit;
        background-position: center;
        margin-bottom: 3%;
        font-family: 'Poiret One', cursive;
        grid-area:topnav;

 
 
}

.topnav a {
  float: left;
  display: none;
  text-align: center;
  padding: 1em;
  padding-left:2em;
  padding-right:2em;
  
  
    
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: gray;
  color: white;
}

.topnav .icon {
  display: block;
  float:none;
}

@media screen and (min-width: 58em) {
  .topnav a{display: block;}
  .topnav a.icon {
        display: none;
  }
}

@media screen and (min-width: 58em) {
  .topnav.responsive {position: none;}
  .topnav.responsive .icon {
   display:none;}
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    position: relative;
     grid-area:topnav;
     align-items:center;
  }
   .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}



.map-responsive {
    overflow:hidden;
    height:0;
}
.map-responsive iframe{
   
    height:10em;
    width:10em;
    border-radius:2em;

}






*, *:before, *:after {box-sizing:  border-box !important;}


thing {
  column-width: 13em;
  column-gap: 1em;
}

section {
 display: inline-block;
 margin:  0.25rem;
 padding:  1rem;
 width:  100%;
  background: #454647;
  border-radius: 1em;
}


p { 
    margin:  1rem 0; 
    
}

body2 {
 padding:  1em;
 font-family:  "Garamond", serif;
line-height:  1.25; 
    
}

p { 
    text-align:  left; 
    
}
